.expand-100 {
    width: 100% !important;
    height: 100% !important;
  }
  
  .xo-symbol {
    width: 80px;
    height: 80px;
  }
  
  .font-100 {
    font-size: 100px !important;
  }
  
  .board-row {
    width: 474px !important;
    height: 150px !important;
    margin-bottom: 8px !important; 
    margin-left: auto !important; 
    margin-right: auto !important;
  }
  
  .cell {
    width: 150px !important;
    height: 150px !important; 
    margin-left: 5px !important; 
    display: inline-block !important;
  }